#forum_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
}
#forum_header #logo {
	float: left;
	width: 120px;
}


#ContentDB {
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	float: none;
	clear: both;
}

button {
	border: 0px;
}
a img {
    border: 0px;
}

body  {
	background-color: #FFFFFF;

}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.red_bold {
	color: #F00;
	font-weight: bold;
}

.text_italic {
	font-style: italic;
	color: #666;
}

.page_header {
	padding: 5px;
	font-weight: bold;
	color: #900;
}
.post {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	display: block;
	float: left;
	height: 60px;
	width: 1100px;
	background-image: url(../Admin_board_forum/index_item_bg_up.jpg);
	background-repeat: no-repeat;
}
.post_bg {
	text-decoration: none;
	float: left;
	display: inline;
	cursor: pointer;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	color: #333;
	height: 60px;
	width: 1100px;
}
.post_bg:visited {
	text-decoration: none;
	color: #333;
}
.post_bg:hover {
	text-decoration: none;
	background-image: url(../Admin_board_forum/index_item_bg_down.jpg);
	background-repeat: no-repeat;
	background-color: #FFF;
}
.post .content_header{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 1050px;
	color: #333;
	text-decoration: none;
}
.post .content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-right: 10px;
	padding-left: 50px;
	float: left;
	width: 1000px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
}
.detail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	display: block;
	float: left;
	width: 1000px;
}
.detail .content_header{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 980px;
	color: #333;
	text-decoration: none;
}

.detail .content {
	width: 980px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.detail .edit {
	float: right;
	outline: none;
	display: block;
	;
	cursor: pointer;
}
.detail .upload {
	float: right;
	padding-right: 10px;
}


.detail .comment {
	width: 980px;
	margin-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.detail .footer{
	float: left;
	width: 980px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.detail .footer .name {
	float: left;
	width: 80px;
}
.detail .footer .open {
	float: left;
	margin-right: 3px;
}
.detail .footer .view {
	float: left;
	margin-right: 20px;
	padding-right: 8px;
	padding-left: 3px;
}





.forum_reply {
	width: 1000px;
	margin-top: 4px;
	float: left;
	margin-bottom: 4px;
	background-color: #FFF;
	border: 1px solid #CCCCCC;
}


.forum_reply_header {
	background-color: #999999;
	width: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	height: 22px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
}
.forum_reply_by {
	float: left;
	padding-right: 20px;
	padding-top: 3px;
}
.forum_reply_on {
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 3px;
}
.forum_reply_edited_on {
	float: left;
	padding-left: 10px;
	padding-top: 3px;
}
.forum_topic_reply_edit {
	float: right;
}
.forum_reply_content {
	width: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.forum_reply_insert {
	float: left;
	width: 990px;
	padding-right: 5px;
	padding-left: 5px;
}
.attach_edit_border {
	border: 1px solid #666;
	margin-bottom: 5px;
}
.detail .footer .edit {
	float: right;
}
#admin_comment {
	float: right;
	height: 25px;
	width: 25px;
	padding-right: 5px;
}
.search_wrapper {
	background-image: none;
	float: left;
	padding-left: 250px;
	padding-bottom: 8px;
	padding-top: 2px;
}
.search_content {
	float: left;
	padding-left: 5px;
	width: 300px;
}
.centre_wrapper {
	float: right;
	margin-right: 5px;
	width: 532px;
}



.button_srch {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 23px;
	width: 150px;
	background-image: url(../images_frontpage/button_srch_bg_down.gif);
	background-repeat: no-repeat;
	color: #333333;
	margin-top: 3px;
	background-position: center center;
	padding-left: 5px;
	float: left;
}
.button_srch:hover {
	border: none;
	color: #990000;
	background-image: url(../images_frontpage/button_srch_bg_up.gif);
	background-repeat: no-repeat;
	padding-right: 8px;
	padding-left: 8px;
}
.textfield_effect {
	/*I am going to add some text formatting of my own*/
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 100px;
	height: 16px;
	border: 1px solid #CCCCCC;
}
.textfield_search_field {
	float: left;
	width: 100px;
	padding-top: 4px;
	padding-left: 25px;
}
.textfield_search_button {
	float: left;
	width: 100px;
	padding-top: 4px;
	padding-left: 3px;
}
