@charset "utf-8";
.scores_item {
	width: 850px;
	float: left;
	margin-left: 45px;
}
.scores_item table {
	margin-right: auto;
	margin-left: auto;
}
.scores_comment {
	height: auto;
	width: 850px;
	margin-left: 45px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
}

.scores_item_border {
	width: 846px;
	margin-left: 2px;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-bottom: 2px;
	float: left;
	height: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}
.scores_item_qualified {
	width: 850px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	height: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 45px;
}
.stats_item_border {
	width: 930px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 6px;
}
.stats_item_breaks {
	float: left;
	width: 730px;
	margin-left: 200px;
}


.scores_half {
	height: auto;
	width: 420px;
	border: 1px solid #CCCCCC;
	float: left;
	vertical-align: top;
}
.scores_item_wrapper {
	height: auto;
	width: 854px;
	margin-right: auto;
	margin-left: auto;
}
.score_div {
	width: 40px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.scores_item_right {
	float: right;
}
.td_bord {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	border: 1px solid #CCCCCC;
}


.red_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	font-weight: bold;
}


.ladder {
	height: auto;
	width: 810px;
	background-color: #FFFFFF;
	float: left;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.spacer {
	height: 5px;
	width: 950px;
}

.ladder_table_left {
	float: left;
	height: auto;
	width: 250px;
}
.ladder_table_right {
	float: left;
	height: auto;
	width: 550px;
}
.ladder_table_left_half {
	float: left;
	height: auto;
	width: 425px;
}
.ladder_table_right_half{
	float: right;
	height: auto;
	width: 423px;
}


.bord {
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.grey_text {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
}



.round_score {
	float: right;
	height: auto;
	width: auto;
	padding-right: 10px;
}
.round_score2 {
	float: right;
	width: 500px;
	height: auto;
}
.round_score3 {
	float: left;
	height: auto;
	width: auto;
	padding-left: 200px;
}


.team_wrapper {
	float: left;
	height: auto;
	width: 950px;
}

.bord_div {
	width: 17px;
	border: 1px solid #CCCCCC;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
.finals_container {
	width: 830px;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 8px;
	margin-top: 8px;
	float: left;
	margin-left: 8px;
}
.Final5_intro {
	width: 830px;
	text-align: center;
	line-height: 20px;
	color: #FF0000;
	margin-left: 5px;
}

.finals_left   {
	float: left;
	height: auto;
	width: 450px;
}
.finals_right   {
	float: right;
	height: auto;
	width: 370px;
}


.Final_item_left {
	height: auto;
	width: 450px;
	float: left;
	text-align: left;
}
.Final_item_right {
	height: auto;
	width: 370px;
	float: right;
	text-align: left;
}
.Final_title {
	text-align: left;
	float: left;
	width: 130px;
}
.Final_id {
	text-align: center;
	float: left;
	width: 90px;
}
.Final_team_name {
	text-align: left;
	float: left;
	width: 150px;
}
.Final_score {
	text-align: center;
	float: left;
	width: 50px;
}
.Final_V {
	text-align: center;
	float: left;
	width: 25px;
	margin-left: 15px;
}
.bill_finals_pts {
	float: left;
	padding-left: 100px;
	clear: both;
}
.insert_player_table {
	margin-right: 10px;
	border: 1px solid #666;
	float: left;
}

hr {
	color: #CCC;
}

.header_table {
	float: left;
	width: 940px;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;
}
