@charset "utf-8";
/* CSS Document */

.greenbg a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #339999;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 2px solid #FFF;
}
.greenbg a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #339999;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 2px solid #FFF;
}
.greenbg a:hover {
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	background-color: #FFF;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #666;
	padding-top: 1px;
	padding-bottom: 1px;
}
.greenbg_menu a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #339999;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid #FFF;
	width: 300px;
	float: left;
}
.greenbg_menu a:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.greenbg_menu a:hover {
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	background-color: #FFF;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #666;
	padding-top: 1px;
	padding-bottom: 1px;
}

.page a:link {
	color: #0000FF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.page a:visited {
	color: #0000FF;
	text-decoration: none;
}
.page a:hover {
	color: #990000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#admin_2 {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.button {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	background-color: #EEE;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	height: 50px;
	width: 150px;
   }
.button:visited {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	background-color: #EEE;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	height: 50px;
	width: 150px;
   }
.button:hover {
	color: #900;
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
	text-decoration: none;
   }
