/*
$scores-bg: rgb(243, 199, 76);
$team-color: rgb(51, 51, 189);
$bracket-line-color: #707070;
$bracket-line-width: 2px;
$match-box-shadow: 0 2px 0 0 #e5e5e5;
$match-box-min-width: 250px;
$match-time-color: #8f8f8f;
*/
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    @media (min-width: 1400px) {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    padding: 0 1rem;
}

.tournament-brackets {
    display: flex;
    flex-direction: row;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    .bracket-round {
        flex: 1;
        .round-title {
            color: #8f8f8f;
            font-weight: 400;
            text-align: center;
        }
        .matches-list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-flow: row wrap;
            justify-content: center;
            height: 100%;
            list-style: none;
            .round-item {
                padding: 0.5em 1.5em;
                min-width: $match-box-min-width;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                flex: 0 1 auto;
                justify-content: center;
                .match {
                    width: 100%;
                    background-color: #fff;
                    padding: 1em;
                    border: 1px solid transparent;
                    border-radius: 0.1em;
                    box-shadow: $match-box-shadow;
                    text-align: center;
                    > div:not(:last-child) {
                        margin-bottom: 0.8rem;
                    }
                    time {
                        color: $match-time-color;
                    }
                    .scores {
                        span {
                            display: inline-block;
                            padding: 5px 7px;
                            background-color: $scores-bg;
                            border-radius: 5px;
                        }
                    }
                    .teams {
                        span {
                            display: inline-block;
                            color: $team-color;
                            border-radius: 5px;
                            font-weight: bold;
                        }
                    }
                }
                @media (min-width: 992px) {
                    &::after {
                        content: "";
                        position: absolute;
                        height: 50%;
                        right: 0;
                        width: 1.5em;
                    }
                    &:nth-child(even)::after {
                        border-bottom-right-radius: 12px;
                        border-bottom: $bracket-line-width solid $bracket-line-color;
                        border-right: $bracket-line-width solid $bracket-line-color;
                        top: 0;
                    }
                    &:nth-child(odd)::after {
                        border-top-right-radius: 12px;
                        border-top: $bracket-line-width solid $bracket-line-color;
                        border-right: $bracket-line-width solid $bracket-line-color;
                        top: 50%;
                    }
                }
            }
        }
        @media (min-width: 992px) {
            &:not(:nth-child(1)) {
                .round-item {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 1.5em;
                        left: 0;
                        top: 0;
                        height: 50%;
                        border-bottom: $bracket-line-width solid $bracket-line-color;
                    }
                }
            }
            &:last-child {
                .round-item {
                    &::after {
                        content: unset;
                    }
                }
            }
        }
    }
}
