#dialogbox{
	background-color: ButtonFace;
	border: 2px outset;
}
#palette_div{
	background-color: ButtonFace;
	border: 2px outset;
	width: 173px;
	height: 136px;
	visibility: hidden;
}
#palette {
	cursor: url('php_mail_merge/colorpicker.cur');
}
#palette td{
	height: 8px;
	width: 8px;
}
#dialogbox td, th, select, option, input{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:11px;
}
#colorValue{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:11px;
	text-transform:uppercase;
}
.tab{
	 border-bottom: ThreedHighlight 1px solid;
	 border-left: ThreedHighlight 1px solid;
	 border-top: ThreedHighlight 1px solid;
	 border-right: ThreedShadow 1px solid;
	 cursor:default;
 }
.activetab{
	 border-left: ThreedHighlight 1px solid;
	 border-top: ThreedHighlight 1px solid;
	 border-right: ThreedShadow 1px solid;
	 cursor:default;
}
.notab{
	 border-bottom: ThreedHighlight 1px solid;
}
.separator{
	border-bottom: ThreedHighlight 1px solid;
	background-color: ButtonText;
	width:1px;
	padding:0px;
}
.interface_button{
	width: 22px;
	height: 22px;
	display:inline;
	border: 1px solid ButtonFace;
	vertical-align:middle;
	text-align:center;
	cursor:default;
	padding:2px;
	font-size:11px;
}

.dis{
	border: 1px solid ButtonFace;
	filter: alpha (opacity=30); 
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=30);
	-moz-opacity: 0.3; 
	opacity: 0.3; 
	-khtml-opacity:.3;
}

.on{
	border: 1px solid ThreedShadow;
	background-color: ThreedHighlight;
}
.down{
	background-color: ActiveBorder;
	border: 1px solid ThreedShadow;
}

.separator_l{
	border-left: ThreedHighlight 1px solid;
}
.separator_r{
	border-right: ThreedShadow 1px solid;
}
.commit{
	display: inline;
	border: ThreedShadow 1px solid;
	width: 20px;
	height: 20px;
}
.barhandle{
	border-bottom: ThreedShadow 1px solid;
	border-right: ThreedShadow 1px solid;
	background-color: ThreedHighlight;
	visibility:visible !important;
	padding: 0px;
	width: 2px;
	height: 20px;
}
#summary, #dialogbox td, th, select, option, input{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:11px;
}
#summary_content{
	visibility:hidden;
}
#errors_summary{
	visibility:hidden;
}
#shield{
	filter: alpha(opacity=50);
	opacity: 0.5;
	background-color: #FFFFFF;
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 100;
	display: none;
}
#status_viewer {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 100%;
	height: 100%;
	z-index: 101;
	display: none;
}
#total_messages{
	padding: 2px;
	background-color: #FFFFFF;
	border: 1px inset ThreedShadow;
}
#summary{
	border: ThreedShadow 1px inset;
}
#in_progress{
	font-family:Tahoma, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left !important;
	font-size: 11px;
	width: 100%
}
#progress_minimized{
	font-size: 10px;
	text-align:center;
	margin-right: 10px;
	visibility: hidden;
}
#up_form, #pick_image, #template_manager{
	display: none;
}
#filters{
	background-color:ButtonFace;
	border: 2px outset;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:11px;
}