<p class="MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif; color: rgb(34, 34, 34);">This message is being emailed and sent via SMS to all VBSA members for their notification and action.&nbsp;&nbsp;</span><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 10pt;">&nbsp;</span></p><div><b><span style="font-size:12.0pt;
font-family:&quot;Arial&quot;,sans-serif;color:#222222"><br></span></b></div><div><b><span style="font-size:12.0pt;
font-family:&quot;Arial&quot;,sans-serif;color:#222222">What’s changed?</span></b></div>

<p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">All
members please note that the VBSA is acting in best prudential practices of
handling your money.&nbsp;&nbsp;</span></p>

<p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">At
our most recent Board meeting 29<sup>th</sup>&nbsp;August 2019 it was ratified
and voted unanimously that&nbsp;</span><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,sans-serif;color:red">no cash payments should be received<b>&nbsp;</b></span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">when
entering events involving the VBSA.&nbsp;</span></p><p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><b><span style="font-family: Arial, sans-serif; color: rgb(34, 34, 34);"><font size="1"><br></font></span></b></p><p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><b><span style="font-size:12.0pt;
font-family:&quot;Arial&quot;,sans-serif;color:#222222">When does this take effect?</span></b></p>

<p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">To
transition this smoothly this will be implemented immediately with
unconditional application of this rule in place by 31<sup>st</sup>&nbsp;December
2019.&nbsp;</span></p><p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-family: Arial, sans-serif; color: rgb(34, 34, 34);"><font size="1"><br></font></span></p><p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><b><span style="font-size:12.0pt;
font-family:&quot;Arial&quot;,sans-serif;color:#222222">What do I need to do?</span></b></p>

<p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">The
Board asks that should you wish to enter a VBSA associated tournament or event
that you make arrangements to purchase your entry via either</span></p>

<ul style="margin-top:0cm;font-variant-ligatures: normal;font-variant-caps: normal;
 orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
 text-decoration-style: initial;text-decoration-color: initial;word-spacing:
 0px" type="disc">
 <li class="MsoNormal" style="color:#222222;mso-list:l0 level1 lfo1;tab-stops:
     list 36.0pt"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">the
     PayPal facility on the website or&nbsp;<o:p></o:p></span></li>
 <li class="MsoNormal" style="color:#222222;mso-list:l0 level1 lfo1;tab-stops:
     list 36.0pt"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">direct
     credit the appropriate fee through your bank (<u>Remember to add your name
     as a reference to allow us to easily identify your entry payment</u>)</span></li></ul>

<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
color:#222222">For people without access to the internet please enlist the help
of a friend or relative to pay &amp; process your entry for you.<o:p></o:p></span></p>

<p class="MsoNormal"><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 10pt;">All entry forms will indicate this change and already include
VBSA banking details.</span></p><p class="MsoNormal"><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif;"><font size="1"><br></font></span></p>

<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
color:#222222">Only paid entries can be processed to the draw. Unpaid entries
will not be added to the draw after the closing date under any circumstances
after 31<sup>st</sup>&nbsp;December 2019</span><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 10pt;">&nbsp;</span></p><p class="MsoNormal"><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif;"><font size="1"><br></font></span></p>

<p class="MsoNormal" style="font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 10pt;">If you have any questions about this change don’t hesitate to
contact any member of the VBSA board who will be happy to help&nbsp;</span><a href="http://www.vbsa.org.au/VBSA/vbsa_contact.php" data-cke-saved-href="http://www.vbsa.org.au/VBSA/vbsa_contact.php" style="font-family: Arial, sans-serif; font-size: 10pt;">http://www.vbsa.org.au/VBSA/vbsa_contact.php</a></p><p class="MsoNormal"><br></p>